body{
    background-color: rgb(202, 195, 245);
}

.container-header{
    width: 100%;
    height: 30px;
    background-color: aqua;
}

.encabezado{
    color: #025157;
    font-size: 40px;
}

.encabezado-texto{
    color: #343434;
}

.container-section-promo{
    /*Comentarios CSS*/
    display: flex;
    width: 70%;
    margin: 100px auto;
    justify-content: left;
    font-size: 20px;
    font-style: italic;
    color: #025157;
    /*align-items: center;*/

}

.input-email>*{
    color: rgb(0, 0, 0);
    background-color: rgb(213, 238, 255);
    padding: 15px;
    font-size: 15px;
    border-radius: 5px;
}
